body{
  font-family: \5fae\8f6f\96c5\9ed1,Hei;
}
.w-detail{
  width: 1000px;
  margin: 10px auto;
  .title{
    .house-title{
      padding: 20px 0;
      font-size: 24px;
      color: #0e050a;
    }
  }
  .house-pic {
    width: 622px;
    float: left;
    height: 404px;
    position: relative;
    overflow: hidden;
    .house-pic-big {
      width: 622px;
      height: 402px;
      overflow: hidden;
      text-align: center;
      border-left: #e3e3e3 1px solid;
      border-top: #e3e3e3 1px solid;
      border-bottom: #e3e3e3 1px solid;
      img {
        max-width: 100%;
        max-height: 402px;
      }
    }
    .house-pic-small {
      width: 622px;
      height: 100px;
      position: absolute;
      bottom: 0;
      background: url("../img/source/bigbg.png") repeat;
      img{
        max-width: 100%;
        max-height: 100%;
      }
      ul li:hover{
        cursor:pointer;
      }
      ul .showed{
        .pic-dark{
          display: none;
        }
      }
      ul li {
        float: left;
        margin: 17px 0 0 10px;
        border: 1px solid #fff;
        position: relative;
        text-align: center;
        .small-one {
          width: 109px;
          height: 68px;
          overflow: hidden;
        }

        .pic-dark {
          position: absolute;
          background: url("../img/source/bigbg.png") repeat;
          top: 0px;
          left: 0px;
          width: 109px;
          height: 68px;
        }
      }
    }
  }
  .house-ec-man {
    width: 345px;
    height: 402px;
    float: left;
    border: #e3e3e3 1px solid;
    color: #0e050a;
    background: #f9f9f9;
    form{
      input{
        display: inline-block;
        border: 0px none;
        vertical-align: top;
      }
      li {
        list-style: none;
        width: 327px;
        height: 40px;
        float: left;
        margin-left: 20px;
        margin-bottom: 15px;
        line-height: 40px;
        font-size: 14px;
        .foryuyue {
          width: 302px;
          height: 40px;
          background: #ff5959;
          font-size: 14px;
          color: white;
          text-align: center;
          line-height: 40px;
          float: left;
        }
        .house-ec-man-input1 {
          width: 290px;
          height: 36px;
          border: 1px solid #cccccc;
          line-height: 36px;
          padding-left: 10px;
        }
        .house-ec-man-input2 {
          width: 130px;
          height: 36px;
          border: 1px solid #CCCCCC;
          line-height: 36px;
          padding-left: 10px;
          float: left;
        }
        .house-ec-getcode {
          width: 150px;
          float: left;
          margin-left: 10px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: white;
          font-size: 14px;
          background: #2ea1a9;
        }
      }
      .wrong-info {
        line-height: 16px;
        height: 16px;
        color: #ff5959;
      }
      .gift {
        height: 27px;
        margin: -19px 0px 4px 20px;
        line-height: 16px;
        color: #ff5959;
        font-weight: bold;
      }
      .housetip {
        font-size: 12px;
        width: 294px;
        float: left;
        color: #5c5c5c;
        margin-left: 20px;
        margin-top: 5px;
        line-height: 20px;
      }
    }
    .detail-jjr-title {
      width: 310px;
      margin-left: 24px;
      font-size: 14px;
      font-weight: bold;
      line-height: 50px;
      float: left;
    }
    .detail-jjr-tx {
      width: 120px;
      height: 164px;
      border: 1px solid #b6b6b6;
      margin-left: 24px;
      overflow: hidden;
      float: left;
    }
    .detail-jjr-info {
      width: 180px;
      margin-left: 15px;
      float: left;
      line-height: 30px;
      font-size: 14px;
      color: #000000;
    }
    .detail-jjr-info {
      width: 180px;
      margin-left: 15px;
      float: left;
      line-height: 30px;
      font-size: 14px;
      color: #000000;
    }
    .detail-jjr-info {
      width: 180px;
      margin-left: 15px;
      float: left;
      line-height: 30px;
      font-size: 14px;
      color: #000000;
    }
    .detail-jjr-mobile {
      width: 300px;
      height: 40px;
      margin-left: 24px;
      background: #ff5a5f url("../img/source/phone2.png") no-repeat;
      background-position: 58px 10px;
      float: left;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
    }
  }
  .clear{
    clear:both;
  }
  .p_content_line {
    width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #e8e8e8;
  }
  .p_content{
    .p_content_left {
      width: 1000px;
      float: left;
      .house-basic-info {
        width: 100%;
        color: #333333;
        padding: 16px 0;
        .basic-title {
          color: #0e050a;
          position: relative;
          display: inline-block;
          width: 100%;
          font-weight: bold;
          a {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-bottom: 2px solid #2ea1a9;
            margin-left: 20px;
            font-size: 16px;
            color: #2ea1a9;
            left: 200px;
            top: 1px;
            cursor:pointer;
          }
          .moreinfo {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-bottom: 2px solid #2ea1a9;
            margin-left: 20px;
            font-size: 14px !important;
            color: #2ea1a9;
            position: absolute;
            left: 80px !important;
            top: 1px;
          }
        }
        .fs21 {
          font-size: 21px;
        }
        .basic-other-info {
          padding-top: 0px;
          .basic-info-list {
            width: 90%;
            padding-left: 20px;
            li {
              width: 27%;
              float: left;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
            }
          }
          p{
            word-wrap: break-word;
            line-height: 30px;
          }
          .village-info-list {
            width: 100%;
            color: #000;
            li {
              width: 333px;
              float: left;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              font {
                color: #666666;
              }
              .gj {
                color: #ff5959;
              }
            }
          }
        }
        .ptp10 {
          padding-top: 10px;
        }
      }
      .clear {
        clear: both;
      }
      .mtp10 {
        margin-top: 10px;
      }
      .p_basic_line {
        width: 100%;
        border-top: 1px solid #e8e8e8;
      }
    }
  }
  .house-around {
    padding-top: 20px;
    .house-around-title {
      font-size: 14px;
      color: #000;
      font-weight: bold;
      .current {
        color: #333333 !important;
      }
      span {
        color: #2ea1a9;
        cursor:pointer;
      }
    }
    .disnone {
      display: none;
    }
    .zixunbox{
      .dt-box {
        //        height: 100px;
        .bd-dt{
          width: 1000px;
          height: 450px;
          margin-top: 30px;
        }
        .bd-list {
          clear: both;
          .house-around-result {
            width: 1000px;
            margin-top: 20px;
            border-right: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            color: #333333;
            float: left;
            td {
              width: 498px;
              height: 40px;
              line-height: 40px;
              text-align: left;
              padding-left: 100px;
              border-left: 1px solid #d9d9d9;
              border-top: 1px solid #d9d9d9;
              overflow: hidden;
              .red{
                color:red;
              }
            }
          }
          .house-around-r-h {
            background: #f7f7f7;
            text-align: center;
            padding-left: 0;
          }
        }
        .bd-btns {
          .bd-btn-box0 {
            background: url("../img/source/icon.png") no-repeat 52px -273px;
            margin-left: 0 !important;
          }

          .bd-btn-box0 dd {
            color: #8759a8;
          }

          .bd-btn-box1 {
            background: url('../img/source/icon.png') no-repeat 46px -348px;
          }

          .bd-btn-box1 dd {
            color: #1a9098;
          }

          .bd-btn-box2 {
            background: url('../img/source/icon.png') no-repeat 44px -519px;
          }

          .bd-btn-box2 dd {
            color: #ff7e20;
          }

          .bd-btn-box3 {
            background: url('../img/source/icon.png') no-repeat 47px -591px;
          }

          .bd-btn-box3 dd {
            color: #148938;
          }
          .box {
            float: left;
            width: 230px;
            height: 60px;
            border: 1px solid #ccc;
            margin-left: 20px;
            cursor: pointer;
            font-size: 14px;
            dd {
              margin: 0;
              height: 34px;
              line-height: 34px;
              font-weight: bold;
            }
            .btn-con {
              padding-left: 10px;
              .red {
                color: red;
              }
            }
          }
        }
      }
    }
    .jiejingbox{
      .house-around-map {
        margin: 20px auto 0 auto;
        width: 998px;
        height: 434px;
        border: 1px solid #d9d9d9;
        overflow: hidden;
        float: left;
        .map {
          width: 998px;
          height: 434px;
          float: left;
        }
      }
    }
  }
  .same-house {
    width: 1000px;
    float: left;
    padding-bottom: 20px;
    height: 270px;
    .basic-title {
      color: #0e050a;
      position: relative;
      display: inline-block;
      width: 100%;
      font-weight: bold;
    }
    .lun-wrapper {
      width: 1000px;
      height: 220px;
      .lun-carousel {
        width: 1000px;
        position: relative;
        .clearfix {
          float: none;
          clear: both;
        }
        ul {
          list-style: none;
          display: block;
          margin: 0;
          padding: 0;
          li{
            position:absolute;
            left:-1002px;
            div{
              width: 238px;
              height: 213px;
              float: left;
              margin-right: 10px;
              line-height: 25px;
              font-size: 12px;
              margin-top: 20px;
              color: #333333;
              text-align: center;
              a {
                color: #333333;
                .same-house-img {
                  height: 180px;
                  overflow: hidden;
                  img{
                    float: left;
                    width: 100%;
                  }
                }
              }
            }
          }

        }
        .clearfix {
          float: none;
          clear: both;
        }
        .prev {
          background-position: 0 0;
          left: -40px;
        }
        .prev, .next {
          background: transparent url(../img/source/conle.png) no-repeat 0 0;
          text-indent: -999px;
          display: block;
          overflow: hidden;
          width: 20px;
          height: 32px;
          margin-left: 10px;
          position: absolute;
          top: 98px;
        }
        .next {
          background-position: -18px 0;
          right: -20px;
        }
        .pager {
          text-align: center;
          margin: 0 auto;
          display: none !important;
          .selected {
            background: transparent url(../img/source/carousel_control.png) no-repeat -12px -32px;
            text-decoration: underline;
          }
          a {
            background: transparent url(../img/source/carousel_control.png) no-repeat -2px -32px;
            text-decoration: none;
            text-indent: -999px;
            display: inline-block;
            overflow: hidden;
            width: 8px;
            height: 8px;
            margin: 0 5px 0 0;
          }
        }
      }
    }
  }
  .gotop {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 400px;
    right: 50%;
    margin-right: -600px;
    display: none;
  }
}
.clear{
  clear:both;
}