*{
  padding: 0;
  margin:0;
}
body{
  width:1000px;
  margin:0 auto;
  .box{
    width:960px;
    height:81px;
    position:relative;
    ul{
      position:relative;
      list-style:none;
      width:100%;
      height: 100%;
      overflow: hidden;
      li{
        position:absolute;
        top:81px;
        img{
          width:100%;
          height: 100%;
        }
      }
    }
    .btn{
      position:absolute;
      right:20px;
      bottom:0;
      button{
        display: inline-block;
        width:30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: rgba(255,255,255,.5);
        cursor:pointer;
      }
      .cur{
        background-color: rgba(255,102,0,.8);
        color:#fff;
      }
    }
  }
}
